body { 
    background-image: url('../images/img2.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1500px;
    color: white;
    text-align: center;
}

h1{
    font-size: 70px;
}